@import url(styles/header.css);
:root{
	--cor-de-fundo: #EBECEE;
	--branco: #FFFFFF;
	--amarelo: #cba707;
	--roxo: #c75eeb;
	
}

body {
	background-color: var(--cor-de-fundo);
}
h1 {
	background-color: white;
}
